<h1>Testimonials</h1>

<h2>Coming Soon!</h2>
<p>We're looking for testimonials!  If you want to say something like "Doing ruby is always better on a Tuesday!",
or "I love Ruby, especially on Tuesdays!", <%= link_to "drop us a line", contact_show_path %>, and we'll put your name and quote up here.</p>

<p>Also, don't forget to tweet with the #dorubytuesday hashtag!</p>


<table>
  <tr>
    <th>Name</th>
    <th>Quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testimonials.each do |testimonial| %>
  <tr>
    <td><%= testimonial.name %></td>
    <td><%= testimonial.quote %></td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New Testimonial", new_testimonial_path %>
<%= link_to "Go Home", "/" %>

<%= link_to('sign in', :controller => 'auth', :action => 'index') %>
