<!DOCTYPE html>
<html>
	<head>
		<title>DoRubyTuesday</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
		<%= javascript_include_tag "/javascripts/raptorize/jquery.raptorize.1.0.js" %>
		<%= csrf_meta_tag %>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">

		<script type="text/javascript">
			$(function() {
				$('body').raptorize({
						'enterOn': 'konami-code'	
					});
			});

		</script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
